body {
  font-family: 'Roboto Condensed',"Trebuchet MS",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black;
  color: white;
  font-size: 3.5vw;
  line-height: 220%;
}

h1 {
  font-size: 4.3vw;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

#outer-container {
  display: table;
  width: 100%
}

#inner-container {
  display: table-cell;
  text-align: center;
  vertical-align: center;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}

li {
  color: white;
}

.numberCircle {
    border-radius: 50%;

    width: 36px;
    height: 36px;
	margin: 10px;
    padding: 6px;

    border: 5px solid #666;
    color: #666;
    text-align: center;
}
