{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Partkeepr Search | Info Display</title>
	<link rel="stylesheet" media="all" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'partkeepr_search/css/partkeepr_search.css' %}" />
    <link rel="stylesheet" href="{% static 'partkeepr_search/css/jquery.keynav.css' %}" />
    <link rel="stylesheet" href="{% static 'partkeepr_search/css/avgrund.css' %}" />
  </head>
  <body>
    <div id="partkeepr-detail">
      <div id="detail">
        <div><span id="category"></span></div>
        <img id="photo" src="" width="200" class="floating"/>
        <span>
          <table class="table" id="detailtable">
            <tr>
              <th>Name</th>
              <td id="name"></td>
            </tr>
            <tr>
              <th>Beschreibung</th>
              <td id="description"></td>
            </tr>
            <tr>
              <th>Status/Zustand</th>
              <td id="status"></td>
            </tr>
          </table>
        </span>
      </div>
      <div id="search-container">
        <input id="search-input" type="text" />
        <div id="result-container">
          <ul id="results"></ul>
	    </div>
	  </div>
	</div>

    <script src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'partkeepr_search/jquery.keynav.js' %}"></script>
    <script src="{% static 'partkeepr_search/jquery.avgrund.js' %}"></script>
    <script src="{% static 'partkeepr_search/partkeepr_search.js' %}"></script>
    <script src="{% static 'partkeepr_search/searchbox.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
