{% load static settings %}
<html>
  <head>
    <title>Info Display</title>
    <link rel="stylesheet" href="{% static "info_screen/info-screen.css" %}">
  </head>
  <body>
    <main>
      {% for screen in 'INFO_SCREEN_SCREENS'|settings %}
        <iframe class="screen{% if forloop.first %} active{% endif %}" src="{{ screen }}"></iframe>
      {% endfor %}
    </main>
    <footer>
      <div id="left">
        <div class="widget">
          Raumstatus: <span id="room-state"></span>
        </div>
        <div class="widget">
          <span id="screen-state"></span>
        </div>
      </div>
      <div id="right">
        <span id="clock"></span>
      </div>
    </footer>
    <script src="{% static "jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "info_screen/info-screen-api.js" %}"></script>
    <script src="{% static "info_screen/info-screen.js" %}"></script>
  </body>
</html>
