{% load static settings %}
<html>
  <head>
    <title>Days Without An Accident</title>
    <link rel="stylesheet" href="{% static "days_without_an_accident/sign.css" %}">
  </head>
  <body>
    <div class="circle" id="top-left"></div>
    <div class="circle" id="top-right"></div>
    <div class="circle" id="bottom-left"></div>
    <div class="circle" id="bottom-right"></div>
    <main>
      <div id="text">
        <p>THIS LAB WORKED</p>
        <p class="big"><span id="counter">0</span>DAYS<p>
        <p>WITHOUT AN ACCIDENT</p>
      </div>
    </main>
    <script src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script>
      function refresh() {
        $.getJSON("{% url 'days_without_an_accident:last_accident' %}", function(data) {
          if(data.days) {
            $('span#counter').html(data.days);
          }
        });
      }

      $(document).ready(function() {
        refresh();
      });
    </script>
  </body>
</html>
