{% load static settings %}
<html>
  <head>
    <title>Info Display</title>
    <link rel="stylesheet" href="{% static "info_display/main-screen.css" %}">
  </head>
  <body>
    <main>
      {% for screen in 'INFO_SCREEN_SCREENS'|settings %}
        <iframe class="screen{% if forloop.first %} active{% endif %}" src="{{ screen }}"></iframe>
      {% endfor %}
    </main>
    <footer>
      <div id="left">
        <div class="widget">
          Raumstatus: <span id="room-state"></span>
        </div>
        <div class="widget">
          <span id="screen-state"></span>
        </div>
      </div>
      <div id="right">
        <span id="clock"></span>
      </div>
    </footer>
    <div id="ractive"></div>

    {% verbatim %}
      <script class="ractive-partial" id="popup" type="text/ractive">
        {{#if mode != 'normal'}}
          <div id="popup">
            {{#if mode == 'help'}}
              {{>help}}
            {{elseif mode == 'inventar'}}
              {{>inventar}}
            {{/if}}
          </div>
        {{/if}}
      </script>

      <script class="ractive-partial" id="help" type="text/ractive">
        <h1>Help</h1>
        <ul>
          <li><b>ESC:</b> Quit</li>
          <li><b>i:</b> Inventar</li>
        </ul>
      </script>

      <script class="ractive-partial" id="inventar" type="text/ractive">
        <h1>Inventar</h1>
        <input id="inventar-query" value="{{inventar.query}}" />
        <select multiple class="selection">
          {{#inventar.results}}
            {{#if inventar.selected_item == @index}}
              <option selected=1>{{.name}}</option>
            {{else}}
              <option>{{.name}}</option>
            {{/if}}
            {{@index}}, {{inventar.selected_item}}
          {{/inventar.results}}
        </select>
      </script>
    {% endverbatim %}

    <script src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'ractive.js' %}"></script>
    <script src="{% static 'info_display/info-display-api.js' %}"></script>
    <script src="{% static 'info_display/main-screen.js' %}"></script>
  </body>
</html>
