{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
  <script src="{% static "jquery-2.1.3.min.js" %}"></script>
  <script src="{% static "info_screen/info-screen-api.js" %}"></script>
  <script>
    $(document).ready(function() {
      $('#previous').click(function() { show_previous_screen() });
      $('#next').click(function() { show_next_screen() });
    });
  </script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "info_screen/info-screen.css" %}">
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  {% include "info_screen/load_screens.html" %}
  <div>
    <button id="previous" class="btn">previous</button>
    <button id="next" class="btn">next</button>
  </div>
{% endblock %}
