@font-face {
    font-family: LetsGoDigital;
    src: url(/static/LetsGoDigital-Regular.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}

iframe.screen {
    display: none;
    border: 0;
    width: 100%;
    height: 100%;
}

iframe.screen.active {
    display: block;
}

::-webkit-scrollbar { display: none }
::-webkit-scrollbar-track { display: none }
::-webkit-scrollbar-thumb { display: none }


/* Footer -------------------------------------------------------------- */
footer {
    font-family: LetsGoDigital;
    font-size: 36px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: normal;
}

footer #left,
footer #right {
    padding: 5px;
}

footer #left { float: left }
footer #right { float: right }

footer #left .widget {
    float: left;
    margin-right: 1em
}

footer #left .widget:last-child { margin-right: 0 }

footer #clock { color: #FF0000 }
footer #room-state { color: white }
footer #room-state.open { color: #00FF00 }
footer #room-state.closed { color: #FF0000 }

/* Popup --------------------------------------------------------------- */
#popup {
    position: absolute;
    background-color: white;
    top: calc(10% / 2);
    left: calc(25% / 2);
    width: 75%;
    height: 90%;

    padding: 1em;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5);
    transform: scale(0.8);                     
}

#popup h1 {
    font-size: 4.3vw;
}

#popup ul.selection,
#popup ul.selection li {
    list-style: none; 
}

#popup ul.selection li.selected {
    background-color: black; 
    color: white;
}

